*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid{
width: 400px;
height: 600px;
position: relative;
background-color: yellow;

}

.doodler{
position: absolute;
width: 60px;
height: 85px;
background-color: red;

}
.platform{
    width: 85;
    height: 15;
    background-color: green;
    position: absolute;
}

