*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.grid{
width: 400px;
height: 600px;
position: relative;
font-size: 220px;
text-align: center;
background-image: url('/background.png');
font-family: 'Times New Roman', Times, serif;

}

.doodler{
position: absolute;
width: 85px;
height: 85px;
background-image: url('/doodler-guy.png');

}
.platform{
    width: 85px;
    height: 15px;
    background-image: url('/platform.png');
    position: absolute;
}

